@charset "UTF-8";
.container-fluid { padding: 0; }

.navbar-toggler { background-color: #f8f8f8; color: #000; }

.header { background-image: url(../image/main-photo.jpg); color: #f8f8f8; font-style: normal; font-weight: normal; font-size: 15px; line-height: 20px; background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-position: 50% 50%; }

h1 { font-style: normal; font-weight: bold; font-size: 50px; line-height: 68px; margin-top: 136px; }

.nav-link { color: #f8f8f8; padding: 27px; margin-right: 40px; }

h2 { color: #aeaeae; }

.card { box-shadow: 0px 0px 18px rgba(68, 68, 68, 0.09); }

select { border: 1px solid #bdbdbd; margin-right: 20px; border-radius: 15px; }

.form-check-label, .sort { font-style: normal; font-weight: normal; font-size: 14px; line-height: 14px; color: #8d8d8d; }

.sort { margin-top: 10px; }

.col-lg-1-5 { flex: 0 0 14.3%; max-width: 14.3%; position: relative; width: 100%; padding-right: 10px; }

.dropdown-item:hover { color: #df4e3c; background-color: #fff; }

.text-sort, .img-sort, .checkbox { margin-top: 10px; }

.card-element { color: #8d8d8d; font-size: 13px; line-height: 19px; font-weight: 300; font-style: normal; }

.card-title { font-style: normal; font-weight: normal; font-size: 15px; line-height: 23px; padding-left: 0; }

.card-title:hover { text-decoration: underline; }

.card-year { font-style: normal; font-weight: normal; font-size: 15px; line-height: 25px; color: #8d8d8d; padding-right: 0; }

h4 { font-style: normal; font-weight: 600; font-size: 25px; line-height: 34px; margin-top: 40px; }

.card-price { font-style: normal; font-weight: 500; font-size: 18px; line-height: 27px; }

.subscribe { background-color: #000; color: #f8f8f8; }

.arrows { display: flex; flex-direction: row; justify-content: flex-end; }

.subscribe-items { display: flex; align-items: center; justify-content: center; }

input { border: 1px solid #bdbdbd; border-radius: 15px; width: 100%; background-color: Transparent; padding: 15px 22px 19px 16px; color: #f8f8f8; }

input:focus { color: #f8f8f8; }

.button-subscribe, .button-sort { color: #000; background-color: #f8f8f8; font-style: normal; font-weight: normal; font-size: 15px; line-height: 20px; border-radius: 15px; }

.button-subscribe { margin-left: 20px; }

.button-sort { margin-left: 25px; }

.btn-secondary { border-radius: 15px; }

.button-subscribe:hover { color: #f8f8f8; background-color: #000; }

.button-subscribe:active { color: #000; background-color: #f8f8f8; }

.button-sort { margin-top: 0; background-color: #df4e3c; border: none; color: #f8f8f8; }

.button-sort:hover { color: #df4e3c; border: 1px solid #df4e3c; background-color: #f8f8f8; }

.button-sort:active { background-color: #df4e3c; border: none; color: #f8f8f8; }

.items { margin-bottom: 120px; }

.accordion-item { border: none; border-bottom: 1px solid #c4c4c4; }

.accordion-button { background-color: #e5e5e5; }

.accordion-button:not(.collapsed) { color: #df4e3c; background-color: #ffffff; }

.accordion-button::after { background-image: none; content: '+'; }

.accordion-button:not(.collapsed)::after { content: '-'; background-image: none; color: #df4e3c; }

.sold { position: absolute; top: 20%; left: 25%; width: 111px; height: 35px; }

.new { width: 66.5px; height: 24px; margin-top: -24px; }

.empty { width: 40%; }

input + span { position: relative; }

input + span::before { position: absolute; right: 20px; top: 5px; }

input:invalid:focus { border: 2px solid #df4e3c; }

.correct-not { content: '✖'; color: #df4e3c; }

.correct { content: '✓'; color: #507a36; }

input[type="checkbox"]:checked { background-color: #df4e3c; }

input[type=checkbox]:checked + label { color: #df4e3c; }

.form-check-input { width: 16px; height: 16px; padding: 0; }

.invalid-feedback { display: block; }

.custom-select { position: relative; }

.custom-select select { display: none; }

.select-selected { background-color: #f8f8f8; border-radius: 15px; }

.select-selected:after { position: absolute; content: ""; top: 14px; right: 20px; width: 0; height: 0; border: 6px solid transparent; border-color: #0c0707 transparent transparent transparent; }

.select-selected.select-arrow-active:after { border-color: transparent transparent #fff transparent; top: 7px; }

.select-items div, .select-selected { color: #000; padding: 8px 16px; border-color: transparent transparent #fff transparent; cursor: pointer; user-select: none; }

.select-items div:hover { color: #df4e3c; background: #f8f8f8; }

.select-items { position: absolute; background-color: #f8f8f8; top: 100%; left: 0; right: 0; z-index: 99; }

.select-hide { display: none; }

.select-items div:hover, .same-as-selected { background-color: #f8f8f8; }

.publication .select-selected:after { border-color: #fff transparent transparent transparent; }

form { display: flex; direction: row; }

#footer { background-color: #000; }

.copy { text-align: center; color: #8d8d8d; padding: 1.5em 0; }

@media (max-width: 768px) { .footer-links { display: flex; flex-direction: column; } }
body { font-family: 'Noto Sans', sans-serif; background: #E5E5E5; }

button { cursor: pointer; }

.main-text { margin-bottom: 72px; }

.main-button { color: #f8f8f8; background-color: Transparent; border: 2px solid #f8f8f8; border-radius: 15px; padding: 13px 90px; font-style: normal; font-weight: 500; font-size: 20px; line-height: 27px; margin-bottom: 140px; }

.main-button:hover { color: #000; background-color: #f8f8f8; }

.main-button:active { color: #f8f8f8; background-color: Transparent; }

main { margin-bottom: 200px; }

.show { display: block; }

.hide { display: none; }

@media (min-width: 320px) and (max-width: 479px) { .button-sort { width: 85%; margin-left: 25px; }
  .col-lg-1-5 { flex: 0 0 17%; max-width: 17%; position: relative; width: 100%; padding-right: 5px; }
  .main-text-item, .button-container { display: flex; align-items: center; justify-content: center; margin-bottom: 30px; }
  .main-text { margin-bottom: 30px; }
  input { margin-bottom: 35px; }
  .dropdown { margin: 10px; }
  .arrow .dropdown { margin: 0; }
  .btn-secondary { width: 90%; }
  .checkbox { text-align: center; }
  .arrows { display: flex; flex-direction: row; justify-content: center; align-items: center; } }
@media (min-width: 480px) and (max-width: 767px) { .sort, .checkbox { width: 100%; }
  .sort { display: flex; flex-direction: row; justify-content: flex-start; margin: 0; }
  .button { margin-left: 35px; }
  .button-sort { width: 87%; margin-left: 35px; }
  .col-lg-1-5 { flex: 0 0 17%; max-width: 17%; position: relative; width: 100%; padding-right: 5px; }
  .main-text-item, .button-container { display: flex; align-items: center; justify-content: center; margin-bottom: 30px; }
  .main-text { margin-bottom: 30px; }
  input { margin-bottom: 35px; }
  .dropdown { margin: 10px; }
  .arrow .dropdown { margin: 0; }
  .btn-secondary { width: 90%; }
  .checkbox { text-align: center; }
  .arrows { display: flex; flex-direction: row; justify-content: center; align-items: center; } }
@media (min-width: 768px) and (max-width: 992px) { .col-lg-1-5 { flex: 0 0 17%; max-width: 17%; position: relative; width: 100%; padding-right: 5px; }
  .main-text-item, .button-container { display: flex; align-items: center; justify-content: center; margin-bottom: 30px; }
  .main-text { margin-bottom: 30px; }
  input { margin-bottom: 35px; }
  .button-sort { width: 93%; margin-left: 15px; }
  .dropdown { margin: 10px; }
  .arrow .dropdown { margin: 0; }
  .btn-secondary { width: 90%; }
  .checkbox { text-align: center; }
  .arrows { display: flex; flex-direction: row; justify-content: center; align-items: center; } }
@media (min-width: 992px) and (max-width: 1250px) { .button-sort { margin-left: 20px; } }
